body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    text-align: center;
    height: 100svb;
    margin: 0;
}

h3 {
    color: hsl(150, 100%, 66%);
}


.lightCyan {
    color: hsl(193, 38%, 86%);
}

.container {
    display: flex;
    margin: auto;
    width: 35%;
}
/*Card Classes*/
.adviceCard {
    margin: 40% auto auto auto;
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
}
.cardContent {
    padding: 5% 0;
}
.cardHeader {
    letter-spacing: .5rem;
    margin: 1% 0 0 0;
}
.cardText {
    padding: 1% 7% 3% 7%;
    font-size: 1.75rem;
    line-height: 2rem;
    overflow-wrap: break-word;
}
.cardLine {
    display: inline-block;
    width: 40%; /*<hr> line width*/
    margin: 1% ;
    opacity: 0.4;
}
.cardImg{
    width: 100%;
}
.cardBottom {
    padding: 0 3% 6% 3%;
}
.diceBg{
    position: absolute;
    left: 48.3%;
    bottom: 27%;
    margin: auto;
    width: 3.5%;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50px;
}
.diceBg:hover{
    box-shadow: 0 0 2rem 0 hsl(150, 100%, 66%);
}
.dice{
    padding: 25% 20% 20%;
}
.attribution { 
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}