body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    text-align: center;
    height: 100svb;
    
}

h3 {
    color: hsl(150, 100%, 66%);
}


.lightCyan {
    color: hsl(193, 38%, 86%);
}

.container {
    margin: auto;
    width: 35%;
}
/*Card Classes*/
.adviceCard {
    margin: 40% auto auto auto;
    background-color: hsl(217, 19%, 24%);
    border-radius: 5px;
}
.cardContent {
    padding: 5% 0;
}
.cardHeader {
    letter-spacing: .5rem;
}
.cardText {
    padding: 3% 7%;
    font-size: 1.75rem;
    line-height: 2rem;
    overflow-wrap: break-word;
}
.cardLine {
    display: inline-block;
    width: 40%; /*<hr> line width*/
    margin: 1% ;
    opacity: 0.4;
}
.cardBottom {
    padding: 0 3% 4% 3%;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}